@use '../utils/vars' as *;

@mixin text($size, $color, $weight, $line) {
  font-size: $size;
  color: $color;
  font-weight: $weight;
  line-height: $line;
}

.header-700 {
  @include text(var(--fs-700), var(--text-primary-600), 700, 2rem);
  letter-spacing: -1.43px;
}

@media (min-width: $desktop-size) {
  .header-700 {
    line-height: 3rem;
    letter-spacing: -2px;
  }
}

.text-500 {
  @include text(var(--fs-500), var(--text-primary-100), 400, 1.29);
  letter-spacing: -0.3px;
  &--name {
    font-weight: 700;
    line-height: 1rem;
    letter-spacing: 0;
  }
  &--position {
    color: var(--text-accent-500);
    line-height: 1rem;
    letter-spacing: 0;
    font-weight: 400;
  }
  &--rating {
    font-weight: 700;
    line-height: 1rem;
    color: var(--text-primary-600);
    letter-spacing: 0;
  }
}

.text-600 {
  @include text(var(--fs-600), var(--text-primary-500), 500, 1.31);
  letter-spacing: -0.63px;
}
