:root {
  --ff-primary: 'League Spartan', sans-serif;

  --fs-300: 0.5rem;
  --fs-500: 1rem; //16px
  --fs-600: 1.1875rem; //19px
  --fs-700: 2.5rem; //40px

  --bg-primary-100: #ffffff;
  --bg-primary-500: #f7f2f7;
  --bg-primary-600: var(--text-primary-600);

  --text-primary-100: #ffffff;
  --text-primary-500: hsl(303, 10%, 53%);
  --text-primary-600: hsl(300, 43%, 22%);

  --text-accent-500: hsl(333, 80%, 67%);
}

$desktop-size: 64em;

@media (min-width: $desktop-size) {
  :root {
    --fs-700: 3.5rem;
  }
}
